# {{.Name}}

import "{{.ImportPath}}"

- [Overview](#Overview)
- [Index](#Index)
- [Examples](#Examples)

## Index
{{if .Consts}}
* [Constants](#Constants){{end}}{{/* END if .Consts */}}
{{if .FuncsFiltered}}
* [Functions](#Functions){{range $func := .FuncsFiltered}}
    * [{{functionSignature .}}]({{anchorFunc "link" .}}){{end}}{{/* END range .FuncsFiltered */}}
{{end}}{{/* END if .Funcs */}}{{if .Types}}
* [Types](#Types){{range $types := .Types}}
    * [type {{ .Name }}]({{anchorFunc "link" .}}){{range $typeFunc := .Funcs }}
        * [{{functionSignature .}}]({{anchorFunc "link" .}}){{end}}{{/* END range .Funcs */}}{{end}}{{/* END range .Types */}}
{{end}}{{/* END if .Types */}}

### Package files

{{ range $file := .Filenames }} {{sourceFileLink .}} {{ end }}

{{if .Consts}}
## Constants
{{range $const := .Consts}}
```
{{ anyTypeSourceString .Decl }}
```
{{end}}{{/* END range .Consts */}}{{end}}{{/* END if .Consts */}}
{{if .FuncsFiltered}}
## Functions
{{range $func := .FuncsFiltered}}
### func {{.Name}}
{{.Doc}}
```
{{functionSignature .}}
```
{{end}}{{/* END range .FuncsFiltered */}}
{{end}}{{/* END if .FuncsFiltered */}}

{{if .Types}}
## Types
{{range $type := .Types}}
### type {{ .Name }}
```
{{ anyTypeSourceString .Decl }}
```
{{ with .Consts }}
{{ range $const := . }}
{{.Doc}}
```
{{ anyTypeSourceString .Decl }}
```
{{ end }} {{/* END range . */}}
{{ end }} {{/* END with .Const */}}

{{ with .Funcs }}
{{ range $func := . }}
#### {{ functionSignature . }}
{{.Doc}}
```
{{ functionSignature . }}
```
{{ range $example := getExampleForFunc $type . }}
##### Example ({{$func.Name}})
```
{{ anyTypeSourceString .Decl }}
```
{{ end }} {{/* END with example */}}
{{ end }} {{/* END range .(Funcs) */}}{{ end }} {{/* END with .Funcs */}}

{{ with .Methods }}
{{ range $func := . }}
#### {{ functionSignature . }}
{{.Doc}}
```
{{ functionSignature . }}
```
{{ range $example := getExampleForFunc $type . }}

##### Example ({{$func.Name}})
```
{{ anyTypeSourceString .Decl }}
```
{{ end }} {{/* END with example */}}
{{ end }} {{/* END range .(Methods) */}}{{ end }} {{/* END with .Methods */}}

{{ end }} {{/* END range .(Types) */}}
{{ end }} {{/* END if .Types */}}
<p align="center" ><small>automatically generated</small></p>
